@media (max-width: 620px) {
  .personagens-slider {
    padding: 0px 15px;
    gap: 10px;
  }

  .btn-seta {
    width: 20px;
    height: 20px;
    padding: 20px;
  }

  .lista-personagens {
    height: 480px;
  }
}
